
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput value="" type="text" #txtName>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Minute</mat-label>
        <input matInput  value="" type="number" #txtMinute>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Calorie</mat-label>
        <input matInput  value="" type="number" #txtCalorie>
      </mat-form-field>
      <div style="display: flex; justify-content: center; align-items: center;">
      <button mat-flat-button color="primary" style="background-color: green;" (click)="createExercise(txtName.value,txtCalorie.value,txtMinute.value)">Accent</button>
    </div>
